.article > .title {
  font-size: 32px;
  color: #333332;
  word-wrap: break-word;
}

.article > .title a {
  color: inherit;
}

@media screen and (min-width: 32.375em) {
  .article > .title {
    font-size: 47px;
  }
}

.article + .article {
  padding-top: 3em;
  border-top: solid 1px #ddd;
}

.article > .meta {
  color: #b3b3b1;
  font-size: 14px;
  font-weight: 400;
  margin-top: -1em;
  margin-bottom: 3em;
}

.article > .meta li {
  display: inline;
  margin-right: 1.5em;
}

.article > .meta li .octicon {
  margin-right: 0.4em;
}

trix-editor.content {
  box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
  border-color: #dbdbdb;
  border-radius: 4px;
}

trix-editor.content:focus,
trix-editor.content:active {
  border-color: #3273dc;
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

.content.trix-content h1 {
  margin-bottom: 0.4em;
}
