.article {
  padding-top: 2em;
  margin-top: 2em;
  border-top: solid 1px #ddd;
}

.article:first-child {
  padding-top: 0;
  margin-top: 0;
  border-top: none;
}

.article > .title {
  font-size: 32px;
  color: #333332;
  word-wrap: break-word;
}

.article > .title a {
  color: inherit;
}

@media screen and (min-width: 32.375em) {
  .article > .title {
    font-size: 47px;
  }
}

.article > .meta {
  color: #b3b3b1;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.article > .meta a {
  color: #b3b3b1;
}

.article > .meta li {
  display: inline;
  margin-right: 1.5em;
}

.article > .meta li .octicon {
  margin-right: 0.4em;
}

trix-toolbar {
  position: -webkit-sticky;
  position: sticky;
  top: -0.1rem;
  background-color: #fff;
  z-index: 10;
  padding: 0.5em 0;
}
trix-toolbar .trix-button-group {
  margin-bottom: 0;
}

trix-editor.content {
  box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
  border-color: #dbdbdb;
  border-radius: 4px;
  min-height: 320px !important;
}

.trix-button--icon-decrease-nesting-level,
.trix-button--icon-increase-nesting-level {
  display: none !important;
}

.content.is-trix .attachment {
  margin: 0.5em auto;
  position: relative;
  max-width: 100%;
}
.content.is-trix .attachment a {
  color: inherit;
  text-decoration: none;
}
.content.is-trix .attachment--file {
  display: inline-block;
  color: #333;
  line-height: 1;
  padding: 0.4em 1em;
  border: 1px solid #bbb;
  border-radius: 5px;
}
.content.is-trix .attachment__caption {
  padding: 0;
  text-align: center;
}
.content.is-trix
  .attachment__caption
  .attachment__name
  + .attachment__size::before {
  content: ' · ';
}
.content.is-trix .attachment--preview .attachment__caption {
  color: #666;
  font-size: 0.9em;
  line-height: 1.2;
}
