.article > .title {
  font-size: 32px;
  color: #333332;
  word-wrap: break-word;
}

.article > .title a {
  color: inherit;
}

@media screen and (min-width: 32.375em) {
  .article > .title {
    font-size: 47px;
  }
}

.article + .article {
  padding-top: 2em;
  border-top: solid 1px #ddd;
}

.article > .meta {
  color: #b3b3b1;
  font-size: 14px;
  font-weight: 400;
  margin-top: -1em;
  margin-bottom: 2em;
}
.article > .meta a {
  color: #b3b3b1;
}

.article > .meta li {
  display: inline;
  margin-right: 1.5em;
}

.article > .meta li .octicon {
  margin-right: 0.4em;
}

trix-toolbar {
  position: -webkit-sticky;
  position: sticky;
  top: -0.1rem;
  background-color: #fff;
  z-index: 10;
  padding: 0.5em 0;
}
trix-toolbar .trix-button-group {
  margin-bottom: 0;
}

trix-editor.content {
  box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
  border-color: #dbdbdb;
  border-radius: 4px;
  min-height: 320px !important;
}

.trix-button--icon-decrease-nesting-level,
.trix-button--icon-increase-nesting-level {
  display: none !important;
}

.content.trix-content h1 {
  margin-bottom: 0.4em;
}
.content.trix-content figure:not(:first-child) {
  margin-top: inherit;
}
