@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

.hero + .container {
  margin: 2em auto;
  padding: 0 2em;
}

.footer {
  padding: 2em 0;
}

.pagination {
  margin: 2em auto;
}
