.header {
  background: url(../../assets/images/header-bg.jpg) no-repeat center center;
  background-size: cover;
}

.header .title {
  font-size: 2.38rem;
  font-weight: bold;
  line-height: 1.2;
}

.header .subtitle {
  font-size: 1.1rem;
  line-height: 1.4;
  color: #fff;
}

.header .title a {
  color: #fff;
}

.modal .title {
  color: #363636 !important;
}

@media screen and (min-width: 1024px) {
  .hero.is-info .navbar-dropdown .navbar-item {
    color: #4a4a4a;
  }
}

@media screen and (min-width: 1023px) {
  /* fix safari
   * Tracked on https://github.com/jgthms/bulma/issues/2597
   * */
  .hero.is-info
    .navbar-dropdown
    a.navbar-item:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current):not(:hover):not(.is-active) {
    color: #4a4a4a;
  }
}
